In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_excel("mlset.xlsx")

In [ ]:
data.head()

   emotion     Usage                                             pixels
0        0  Training  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1        0  Training  151 150 147 155 148 133 111 140 170 174 182 15...
2        2  Training  231 212 156 164 174 138 161 173 182 200 106 38...
3        4  Training  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4        6  Training  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...

In [ ]:
data.drop(data.columns[1],axis=1,inplace=True)

In [ ]:
data.head()

   emotion                                             pixels
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1        0  151 150 147 155 148 133 111 140 170 174 182 15...
2        2  231 212 156 164 174 138 161 173 182 200 106 38...
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...

In [ ]:
X=data.iloc[:,1].str.split(' ', expand=True)

In [ ]:
X.head()

  0    1    2    3    4    5    6     ... 2297 2298 2299 2300 2301 2302 2303
0   70   80   82   72   58   58   60  ...  136  106  116   95  106  109   82
1  151  150  147  155  148  133  111  ...  108  102   67  171  193  183  184
2  231  212  156  164  174  138  161  ...  122  114  101   97   88  110  152
3   24   32   36   30   32   23   19  ...  132  133  136  139  142  143  142
4    4    0    0    0    0    0    0  ...   31   31   27   31   30   29   30

[5 rows x 2304 columns]

In [ ]:
X.shape

(4999, 2304)

In [ ]:
X = X.astype(int, errors = 'raise')

In [ ]:
for column in X.columns:
    X[column] = X[column]  / X[column].abs().max()

In [ ]:
X.head()

       0         1         2     ...      2301      2302      2303
0  0.274510  0.313725  0.321569  ...  0.415686  0.427451  0.321569
1  0.592157  0.588235  0.576471  ...  0.756863  0.717647  0.721569
2  0.905882  0.831373  0.611765  ...  0.345098  0.431373  0.596078
3  0.094118  0.125490  0.141176  ...  0.556863  0.560784  0.556863
4  0.015686  0.000000  0.000000  ...  0.117647  0.113725  0.117647

[5 rows x 2304 columns]

In [ ]:
y=data.iloc[:,0]

In [ ]:
y.head()

0    0
1    0
2    2
3    4
4    6
Name: emotion, dtype: int64

In [ ]:
X_data,X_test,y_data,y_test=train_test_split(X,y,test_size=0.15,random_state=0)

In [ ]:
X_train,X_val,y_train,y_val=train_test_split(X_data,y_data,test_size=0.15,random_state=0)

In [ ]:
pip install hypopt

Collecting hypopt
  Downloading hypopt-1.0.9-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from hypopt) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from hypopt) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->hypopt) (1.1.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->hypopt) (1.4.1)
Installing collected packages: hypopt
Successfully installed hypopt-1.0.9

In [ ]:
from sklearn.svm import SVC

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
from hypopt import GridSearch
param_grid = {'C': [0.01,1,10,100,1000], 'gamma': [0.0001, 0.001,0.01,1,1.5], 'kernel': ['rbf','linear']}
opt = GridSearch(model = SVC(), param_grid = param_grid)

In [ ]:
opt.fit(X_train, y_train, X_val, y_val)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50/50 [30:01<00:00, 36.03s/it]

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
print('Test Score for Optimized Parameters:', opt.score(X_test, y_test))

Test Score for Optimized Parameters: 0.37466666666666665

In [ ]:
param_grid = {'max_depth': [4,10,20,50]}
opt = GridSearch(model = DecisionTreeClassifier(), param_grid = param_grid)

In [ ]:
opt.fit(X_train, y_train, X_val, y_val)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:18<00:00,  4.56s/it]

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
print('Test Score for Optimized Parameters:', opt.score(X_test, y_test))

Test Score for Optimized Parameters: 0.25333333333333335

In [ ]:
n=np.arange(1,10000,100)

In [ ]:
param_grid = {'n_neighbors': n}
opt = GridSearch(model = KNeighborsClassifier(), param_grid = param_grid)

In [ ]:
opt.fit(X_train, y_train, X_val, y_val)

In [ ]:
print('Test Score for Optimized Parameters:', opt.score(X_test, y_test))

Test Score for Optimized Parameters: 0.25466666666666665